@import url('https://fonts.googleapis.com/css?family=Nunito:600|Permanent+Marker');

html {
   background-color: #1e1e1e;
   margin: 15px;
   padding: 10px; 
}

h1 {
    font-family: 'Permanent Marker', cursive;
    color: #248B6F;
    font-size: 28px;
}

h2, h3 {
    font-family: 'Permanent Marker', cursive;
    color: #5CB730;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 20px
}

nav > ul {
    border-width: 0px 0px 4px;
    border-style: solid;
    padding: 15px;
    padding-bottom: 20px;
    font-size: 18px;
}

nav > ul > li {
    display: inline-block;
    padding-right: 20px;
}

.no-indent {
    white-space: 'pre-line';
    padding: 20px;
}

p, code, li {
    font-family: 'Nunito', sans-serif;
    color: #EEE;
    font-size: 16px;
    word-wrap: break-word;
}

pre {
    background: #333;
    overflow: auto;
}

code {
    font-family: monospace;
}

a {
    text-decoration: none;
    color: #4dd0e1;
}

a:hover {
    text-decoration: underline;
}

a:visited {
    color: #6D8FB8;

}