<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CS 422 | Docs </title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Docs</h1>
    <p>here are some helpful docs and links for building this project</p>
    <ul>
        <li>Spring Boot + Java</li>
        <li>Gradle + JUnit + CircleCI</li>
        <li>Kubernetes + Docker</li>
    </ul>
</body>
</html>