<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CS 422 | Resources </title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/docs">docs</a></li>
            <li><a href="/resources">resources</a></li>
            <li><a href="https://cs422-slides.geckoandginko.live">slides</a></li>
        <ul>
    </nav>
    <h1>Docs</h1>
    <p>here's how to call the three endpoints on this api</p>
    
    <p>GET: <code>URL/api/</code></p>
    <p>params: none</p>
    <pre class=".no-indent"><code>
    $ curl -s URL/api/
    </code></pre>
    <pre><code>
    {
      "term": null,
      "count": 1,
      "input": "Hi! Welcome to the app :)"
    }
    </code></pre>

    <p>POST: <code>URL/api/string</code></p>
    <p>params:</p>
    <ul>
        <li>term: string</li>
        <li>string: string (to search)</li>
    </ul>
    <pre class=".no-indent"><code>
    $ curl -s -X POST -d term="something" -d string="something something else" \
    URL/api/string | jq
    </code></pre>
    <pre><code>
    {
      "term": "something",
      "count": 2,
      "input": "something something else"
    }
    </code></pre>

    <p>POST: <code>URL/api/file</code>
    params: </p>
    <ul>
        <li>term: string</li>
        <li>file: file path</li>
    </ul>
    <pre class=".no-indent"><code>
    $ curl -s -X POST -F term="something" -F file="@fileName" \
    URL/api/file | jq
    </code></pre>
    <pre><code>
     {
       "term": "somethin",
       "count": 2,
       "input": "test-file3.txt"
     }
    </code></pre>

</body>
</html>