<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CS 422 | Resources </title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">home</a></li>
            <li><a href="/docs">docs</a></li>
            <li><a href="/resources">resources</a></li>
            <li><a href="http://slides.cs422.geckoandginko.live">slides</a></li>
        <ul>
    </nav>
        <h1>Resources</h1>
        <p>These docs and tutorials were pretty awesome and helpful. </p>
        <ul>
            <li><a href="https://spring.io/guides/gs/spring-boot/">spring.io - Getting Started - Building an Application with Spring Boot</a></li>
            <li><a href="https://spring.io/guides/gs/uploading-files/">spring.io - Getting Started - Uploading Files</a></li>
            <li><a href="https://github.com/IBM/spring-boot-microservices-on-kubernetes">github.com/IBM/spring-boot-microservices-on-kubernete</a></li>
            <li><a href="https://circleci.com/blog/build-cicd-piplines-using-docker/">CI/CD Pipelines with Docker on CircleCI</a></li>
            <li><a href="https://gorillalogic.com/blog/build-and-deploy-a-spring-boot-app-on-kubernetes-minikube/">Gorilla Logic - Build and Deploy a Spring Boot App on Kubernetes (Minikube)</a></li>
            <li><a href="https://kubernetes.io/docs/concepts/workloads/controllers/deployment/">Kubernetes.io - Deployments</a></li>
            <li><a href="https://medium.com/google-cloud/kubernetes-nodeport-vs-loadbalancer-vs-ingress-when-should-i-use-what-922f010849e0">Kubernetes NodePort vs LoadBalancer vs Ingress?</a></li>
            <li><a href="https://kubernetes.io/docs/setup/custom-cloud/kops/">Kubernetes.io - Installing Kubernetes on AWS with <code>kops</code></a></li>
        </ul>
    </body>
</html>