<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CS 422 | Resources </title>
    <link href="../static/style.css" th:href="@{/style.css}" rel="stylesheet" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Resources</h1>
    <p>here are the official docs for the tools + frameworks used building this project</p>
    <ul>
        <li><a href="http://spring.io">Spring Boot</a> 
            + <a href="https://www.oracle.com/technetwork/java/javase/overview/java8-2100321.html">Java 8</a></li>
        <li><a href="https://docs.gradle.org/current/userguide/userguide.html">Gradle</a>
            + <a href="https://junit.org/junit4/">JUnit</a> 
            + <a href="https://circleci.com/docs/">CircleCI</a></li>
        <li><a href="https://kubernetes.io/docs/home/">Kubernetes</a> 
            + <a href="https://docs.docker.com/">Docker</a></li>
    </ul>
    <p>...and here are a bunch of blog posts and tutorials that proved handy</p>
    <ul>
        <li><a href="https://spring.io/guides/gs/spring-boot/">spring.io - Getting Started - Building an Application with Spring Boot</a></li>
        <li><a href="https://spring.io/guides/gs/uploading-files/">spring.io - Getting Started - Uploading Files</a></li>
        <li><a href="https://github.com/IBM/spring-boot-microservices-on-kubernetes">github.com/IBM/spring-boot-microservices-on-kubernete</a></li>
        <li><a href="https://circleci.com/blog/build-cicd-piplines-using-docker/">CI/CD Pipelines with Docker on CircleCI</a></li>
        <li><a href="https://gorillalogic.com/blog/build-and-deploy-a-spring-boot-app-on-kubernetes-minikube/">Gorilla Logic - Build and Deploy a Spring Boot App on Kubernetes (Minikube)</a></li>
        <li><a href="https://kubernetes.io/docs/concepts/workloads/controllers/deployment/">Kubernetes.io Deployments</a></li>
        <li><a href="https://medium.com/google-cloud/kubernetes-nodeport-vs-loadbalancer-vs-ingress-when-should-i-use-what-922f010849e0">Kubernetes NodePort vs LoadBalancer vs Ingress?</a></li>
    </ul>
</body>
</html>